@font-face {
  font-family: 'Raleway-Light';
  src: url(/fonts/Raleway-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url(/fonts/Raleway-Thin.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .2s, transform 1s;
}

body {
  overflow-x: hidden;
  background: rgb(250, 250, 250);
  font-family: 'Raleway-Light';
  font-size: 22px;
  color: #555;
  padding-bottom: 7vh;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  font-size: 200%;
  text-align: center;
  padding: 1% 0;
  font-family: 'Raleway-Thin';
  color: rgb(211, 135, 135);
}

section {
  margin-left: 15vw;
  width: 70vw;
  box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, .2);
}

article, footer {
  background: rgb(255, 255, 255);
  border: 1px solid #ddd;
  height: 8vh;
  padding: 0.7% 2%;
}

article:first-child, .todos li {
  padding: 2.5% 0% 2% 2.5%;
  height: 12vh;
}

i {
  font-size: 90%;
  margin-right: 3%;
  color: #eee;
}

.add__todo i {margin-left: 0.6%;}
.add__todo input {
  margin-left: 0.4%;
  border: none;
  outline: none;
  color: #333;
  font-size: 100%;
  font-family: "Raleway-Light";
  width: 90%;
  padding: 0.5% 0;
}

.add__todo input::placeholder {
  color: #ddd;
  font-style: italic;
}

/* Todos */

.todos li {
  position: relative;
  cursor: pointer;
  background: rgb(255, 255, 255);
  padding: 2% 1.9%;
  border: 1px solid #ddd;
  border-top: none;
}

.todos li:last-child {
  border-bottom: none;
}

.deletedRight {
  animation: deleteRightAnimation .7s;
}

.deletedLeft {
  animation: deleteLeftAnimation .7s;
}

@keyframes deleteRightAnimation {
  70% {
    transform: translateX(100%);
    min-height: 12vh;
    opacity: 1;
  }
  80% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    min-height: 0px;
    height: 0px;
    opacity: 0;
  }
}

@keyframes deleteLeftAnimation {
  70% {
    transform: translateX(-100%);
    height: 12vh;
    opacity: 1;
  }
  80% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    height: 0px;
    opacity: 0;
  }
}

.todos li * {
  margin-right: 3%;
  float: left;
}

.todos li h2 {
  margin-top: 0.3%;
  width: 55%;
  font-size: 100%;
  font-weight: 100;
}

.todos li.done h2 {
  text-decoration: line-through;
  color: #ccc;
}

.todos button {
  cursor: pointer;
  background: none;
  border: 0.5px solid #eee;
  outline: none;
  border-radius: 50%;
  padding: 0.5% 1.05%;
}

.info {
  margin-top: 0.3%;
  border: 1px solid black;
  width: 25%;
  font-size: 50%;
}

.done .info {
  line-height: 200%;
}

.info h4 {
  color: #777;
  font-style: normal;
}

.created__at, .created__date {
  padding-top: 6%;
}

.done .created__at, .done .created__date {
  padding-top: 0;
}

.completed__at, .completed__date {
  opacity: 0;
  display: none;
  /* visibility: hidden; */
}

.done .completed__at, .done .completed__date {
  opacity: 1;
  display: block;
  /* visibility: visible; */
}

li .btn__check i {visibility: hidden; font-size: 170%;}
li.done .btn__check i {
  /* visibility: visible; */
  color: rgb(72, 192, 192);
}

.btn__delete {
  font-size: 120%;
  opacity: 0;
  visibility: hidden;
}

.done .btn__delete:hover {color: #777;}
.done .btn__delete {
  opacity: 1;
  visibility: visible;
}

.todos li.done .btn__check {
  border-color: rgb(72, 192, 192);
}

/* footer */

footer {
  color: #aaa;
  font-size: 75%;
  padding-top: 1%;
}

.items__count {
  display: inline-block;
  margin-left: 1%;
  padding-top: 0.5%;
  font-weight: 100;
  font-size: 100%;
  width: 15%;
}

.options__all {
  position: relative;
  left: 18%;
  width: 50%;
}

.options__all, .options__all li {
  display: inline-block;
}

.options__all li {cursor: pointer; padding: 1% 1.5%;}
.options__all li:first-child {
  cursor: default;
  margin-right: 1.5%;
  border: 1px solid #ddd;
}